main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8 rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem;
}
h3 {
  padding: 1rem 0;
}

h5 {
  line-height: 2;
}

.br {
  border-radius: 25px;
}

.text-3 {
  font-size: 1rem;
}
